.contact_btn {
  margin-left: 15px;
  width: 70px;
  background-color: white;
  border-radius: 4px;
  transition: 500ms background-color linear;
  cursor: pointer;
  font-size: 12px;
}

.contact_btn:hover,
.contact_btn:focus {
  background-color: #66a1d8;
}
